@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

/*---- GENERAL STYLE RESET  ----*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --default-text: 'Roboto', sans-serif;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1rem;
  --p: 1rem;
  --color-grey: #61646E;
  --color-black: #000000;
  --border-color: #e3e3e3;
  --color-white: #FFFFFF;
  --bg-image: url('https://images.unsplash.com/photo-1604500692613-290a25b0bf9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1227&q=80');
}

/* GENERAL ELEMENTS STYLE */
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  min-width: 20rem;
  font-family: var(--default-text);
  line-height: 1.5;
}

.content {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  opacity: 80%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

li {
  margin-left: 0.5rem;
}

img {
  width: 100%;
  height: 100%;
}

.parallax-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
}

header,
footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem 6%;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: var(--color-black);
  z-index: 50;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

h1, 
h3 {
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.title {
  color: var(--color-white);
}

h1 {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

.my-work .content {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.project {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 18.75rem;
  max-width: fit-content;
  min-height: 20rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--color-white);
}

.project > * {
  margin-bottom: 0.75rem;
}

.project-name {
  justify-self: center;
  align-self: center;;
}

.btn {
  background-color: var(--color-black);
  padding: 0.5rem 1rem;
  border: 0.0625rem solid var(--border-color);
  color: var(--color-white);
  margin-bottom: 2rem;
}

/*--- Hover ---*/
.btn:hover {
  cursor: pointer;
  background-color: var(--color-grey);

}

.project:hover {
  scale: 1.1;
  cursor: pointer;
}

i {
  font-size: 2rem;
  color: var(--color-white);
  padding: 0.5rem;
  opacity: 80%;
}

i:hover {
  opacity: 100%;
}

/* ------------------------------------- MEDIUM SIZE SCREENS ------------------------------------- */
@media (min-width: 640px) {

}

/* ------------------------------------- LARGE SIZE SCREENS ------------------------------------- */
@media (min-width: 1024px) {}

/* ------------------------------------- EXTRA LARGE SIZE SCREENS ------------------------------------- */
@media (min-width: 1440px) {}
